In [1]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

/tmp/ipykernel_3456/226503331.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Library_Usage.csv")

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [2]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)

0           15
1          378
2           33
3         2140
4         1035
          ...
436285       6
436286       0
436287       0
436288       0
436289     101
Name: Total Renewals, Length: 436290, dtype: int64
        Total Renewals  Total Checkouts
0                   15               53
1                  378              480
2                   33               70
3                 2140             3934
4                 1035             1118
...                ...              ...
436285               6                2
436286               0                3
436287               0                6
436288               0                4
436289             101              309

[436290 rows x 2 columns]

In [3]:
df['dummy_variable'] = 5

In [4]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False,5
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False,5
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False,5
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN,5
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN,5
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN,5
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN,5
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN,5

In [5]:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)

In [8]:
# 'Membership Duration' = ('Circulation Active Year' - 'Year Patron Registered')*12 + 'Circulation Active Month'

In [15]:
df['Circulation Active Year'] = pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)

In [16]:
df['Circulation Active Year']

0         2023.0
1         2023.0
2         2023.0
3         2023.0
4         2023.0
           ...
436285    2022.0
436286    2015.0
436287    2022.0
436288    2020.0
436289    2023.0
Name: Circulation Active Year, Length: 436290, dtype: float64

In [33]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)

In [34]:
df['Circulation Active Month']

0        NaT
1        NaT
2        NaT
3        NaT
4        NaT
          ..
436285   NaT
436286   NaT
436287   NaT
436288   NaT
436289   NaT
Name: Circulation Active Month, Length: 436290, dtype: datetime64[ns]

In [36]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
df['Circulation Active Month']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
436285   NaN
436286   NaN
436287   NaN
436288   NaN
436289   NaN
Name: Circulation Active Month, Length: 436290, dtype: float64

In [38]:
df['Membership Duration'] = (
    df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

Anscheinend funktioniert das mit 3.8 doch nicht :/