## Praktische Einführung in Pandas

Nach den folgenden Aufgaben, sollten diese Fragen beantwortet werden können:
- Wie kann ich Tabellendaten in pandas einlesen?
- Wie werden Daaten in pandas angeordnet?
- Welche Datentypen können Spalten eines DataFrames annehmen?
- Wie kann ich einzelne Spalten oder Zeilen eines DataFrames auswählen?

###  Series und DataFrames

In [1]:
import pandas as pd
x = pd.Series([34, 12, 23, 45])
print(x)
x.dtype

0    34
1    12
2    23
3    45
dtype: int64

dtype('int64')

#### Aufgabe 2.2

In [2]:
import pandas as pd
data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
         'below_zero': [True, False, False]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False

##### 2.2 Skalenniveau und Datentypen (15 Min)

- Welches Skalenniveau besitzen die Variablen im obigen Beispiel? = Temperatur - intervallskaliert; Monat - nominalskaliert
- Sind die Variablen stetig oder diskret? = Monate - diskret; Temperatur - stetig
- Was ist der Datentyp jeder einzelnen Spalte? = int, bool, object
- Erweitere das Python-Dictionary und
- erstelle eine neue Zeile mit den Werten ('Apr', 5, False)
- erstelle eine neue Spalte year mit den Werten (2020, 2020, 2020, 2020)

#### Die Erweiterung

In [3]:
import pandas as pd
data = {'month': ['Jan', 'Feb', 'Mar', 'Apr'],
        'temp': [-5, 2, 3, 5],
         'below_zero': [True, False, False, False],
          'year': [2020, 2020, 2020, 2020]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020

### Ein- und Ausgabe

#### Beispiele

In [4]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.head()

/tmp/ipykernel_4671/1714274953.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Library_Usage.csv")

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False

In [5]:
df.to_json("../data/Library_Usage.json")

#### Aufgabe 2.3 Datenrundreise

In [6]:
df_small = pd.read_csv("../data/Library_Usage_Small.csv")
df_small

,Unnamed: 0.1,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,0,0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,1,1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,2,2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,3,3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,4,4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,5,5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,6,6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,7,7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,8,8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,9,9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [7]:
df_small.to_json("../data/Library_Usage_Small.json")

In [8]:
df_small_json = pd.read_json("../data/Library_Usage_Small.json")
df_small_json

,Unnamed: 0.1,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,0,0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,1,1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,2,2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,3,3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,4,4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,5,5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,6,6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,7,7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,8,8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,9,9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [9]:
df_small_json.to_html("../data/Library_Usage_Small.html")

In [10]:
df_small_html = pd.read_html("../data/Library_Usage_Small.html")
df_small_html

[   Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  Patron Type Code  \
 0             0             0           0                 1
 1             1             1           1                 2
 2             2             2           2                 0
 3             3             3           3                 2
 4             4             4           4                 2
 5             5             5           5                 2
 6             6             6           6                 2
 7             7             7           7                 2
 8             8             8           8                 0
 9             9             9           9                 2

   Patron Type Definition  Total Checkouts  Total Renewals       Age Range  \
 0               Juvenile                0               0    0 to 9 years
 1                   Teen                0               0  10 to 19 years
 2                  Adult                0               0  35 to 44 years
 3                   Teen                0               0  10 to 19 years
 4                   Teen                0               0  10 to 19 years
 5                   Teen                0               0  10 to 19 years
 6                   Teen                0               0  10 to 19 years
 7                   Teen                0               0  10 to 19 years
 8                  Adult                0               0  35 to 44 years
 9                   Teen                0               0  10 to 19 years

   Home Library Code Home Library Definition  Circulation Active Month  \
 0                r3                Richmond                       NaN
 1                 x                    Main                       NaN
 2                m4                  Merced                       NaN
 3                 x                    Main                       NaN
 4                b2                 Bayview                       NaN
 5                 x                    Main                       NaN
 6                 x                    Main                       NaN
 7                 x                    Main                       NaN
 8                 x                    Main                       NaN
 9                 x                    Main                       NaN

    Circulation Active Year Notice Preference Code  \
 0                      NaN                      z
 1                      NaN                      z
 2                      NaN                      z
 3                      NaN                      z
 4                      NaN                      z
 5                      NaN                      z
 6                      NaN                      z
 7                      NaN                      z
 8                      NaN                      z
 9                      NaN                      z

   Notice Preference Definition  Provided Email Address  \
 0                        Email                    True
 1                        Email                    True
 2                        Email                    True
 3                        Email                    True
 4                        Email                    True
 5                        Email                    True
 6                        Email                    True
 7                        Email                    True
 8                        Email                    True
 9                        Email                    True

    Year Patron Registered  Within San Francisco County
 0                    2022                         True
 1                    2022                         True
 2                    2019                         True
 3                    2021                         True
 4                    2013                         True
 5                    2021                        False
 6                    2021                        False
 7                    2021                         True
 8                    2019                        False
 9                    2021                        False  ]

In [11]:
df_small_json.to_excel("../data/Library_Usage_Small.xlsx")

In [12]:
df_small_excel = pd.read_excel("../data/Library_Usage_Small.xlsx")
df_small_excel

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,0,0,0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,1,1,1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,2,2,2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,3,3,3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,4,4,4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,5,5,5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,6,6,6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,7,7,7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,8,8,8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,9,9,9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [13]:
df_small_excel.to_csv("../data/Library_Usage_Small_neu.csv")

In [14]:
df_neu = pd.read_csv("../data/Library_Usage_Small_neu.csv")
df_neu

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,0,0,0,0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,1,1,1,1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,2,2,2,2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,3,3,3,3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,4,4,4,4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,5,5,5,5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,6,6,6,6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,7,7,7,7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,8,8,8,8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,9,9,9,9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [15]:
df_small

,Unnamed: 0.1,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,0,0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,1,1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,2,2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,3,3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,4,4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,5,5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,6,6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,7,7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,8,8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,9,9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [16]:
df_neu

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,0,0,0,0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,1,1,1,1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,2,2,2,2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,3,3,3,3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,4,4,4,4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,5,5,5,5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,6,6,6,6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,7,7,7,7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,8,8,8,8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,9,9,9,9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

Nein es ist nicht alles gleich geblieben, es kamen mehrere "Unnamed"-Spalten hinzu

#### Aufgabe 2.4 Arbeitsspeicher

- Freier RAM-Platz auf meinem Laptop = 5,3 GB
- 23,96 Werte
- ?
-

In [17]:
df.memory_usage()

Index                               128
Patron Type Code                3490320
Patron Type Definition          3490320
Total Checkouts                 3490320
Total Renewals                  3490320
Age Range                       3490320
Home Library Code               3490320
Home Library Definition         3490320
Circulation Active Month        3490320
Circulation Active Year         3490320
Notice Preference Code          3490320
Notice Preference Definition    3490320
Provided Email Address           436290
Year Patron Registered          3490320
Within San Francisco County     3490320
dtype: int64

Sagt mir leider gar nichts :)

### Auswahl und Erstellung von Spalten

In [18]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

/tmp/ipykernel_4671/226503331.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Library_Usage.csv")

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [19]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [20]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)

0           15
1          378
2           33
3         2140
4         1035
          ...
436285       6
436286       0
436287       0
436288       0
436289     101
Name: Total Renewals, Length: 436290, dtype: int64
        Total Renewals  Total Checkouts
0                   15               53
1                  378              480
2                   33               70
3                 2140             3934
4                 1035             1118
...                ...              ...
436285               6                2
436286               0                3
436287               0                6
436288               0                4
436289             101              309

[436290 rows x 2 columns]

In [21]:
df['dummy_variable'] = 5

In [22]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False,5
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False,5
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False,5
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN,5
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN,5
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN,5
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN,5
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN,5

In [23]:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)

In [24]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False,5,False,2.772589
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False,5,False,5.937536
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5,False,3.526361
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False,5,False,7.669028
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.943122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN,5,False,1.945910
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN,5,False,0.000000
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN,5,False,0.000000
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN,5,False,0.000000
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN,5,False,4.624973

#### 2.5 Fallstudie: Feature Engineering

In [25]:
df['Circulation Active Year'] = pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)

In [26]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False,5,False,2.772589
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False,5,False,5.937536
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5,False,3.526361
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False,5,False,7.669028
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.943122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN,5,False,1.945910
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN,5,False,0.000000
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN,5,False,0.000000
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN,5,False,0.000000
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN,5,False,4.624973

In [27]:
#df['Circulation Active Month'] = pd.to_datetime(
    #df['Circulation Active Month'],
    #errors='coerce',
    #format="%B"
#)
# anscheinend ist was mit den Werten falsch -> Tipp: https://stackoverflow.com/questions/74340023/pandas-pd-to-datetime-returning-nat-when-format-is-valid

In [28]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False,5,False,2.772589
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False,5,False,5.937536
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5,False,3.526361
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False,5,False,7.669028
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.943122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN,5,False,1.945910
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN,5,False,0.000000
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN,5,False,0.000000
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN,5,False,0.000000
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN,5,False,4.624973

In [30]:
#df['Circulation Active Month'] = df['Circulation Active Month'].dt.month

In [32]:
# obere Zeilen nicht ausgeführt, da Fehler entstanden

Das berechnen der Mebership Duration ist ohne den Monat nicht möglich

Zudem ist die Aufgabe 2.5.4 nicht möglich

### Auswahl von Zeilen

In [33]:
# import pandas as pd
# df = pd.read_csv("../data/Library_Usage.csv")
df.loc[df['Total Checkouts'] > 10000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
7946,3,Senior,12095,5233,75 years and over,m4,Merced,Jul,2023.0,z,Email,True,2003,False,5,False,8.562931
11000,3,Senior,10386,1008,75 years and over,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.916715
16641,3,Senior,12363,1384,65 to 74 years,c2,Chinatown,Jul,2023.0,z,Email,True,2003,False,5,False,7.233455
22331,0,Adult,16483,103,60 to 64 years,m6,Mission,Jul,2023.0,NaN,NaN,False,2003,False,5,False,4.644391
23428,3,Senior,10080,459,65 to 74 years,r3,Richmond,Jul,2023.0,z,Email,True,2003,False,5,False,6.131226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364224,3,Senior,10330,962,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2003,False,5,False,6.870053
375195,0,Adult,45380,143,35 to 44 years,v3,Visitacion Valley,Dec,2020.0,NaN,NaN,False,2003,False,5,False,4.969813
385277,3,Senior,12149,1794,65 to 74 years,s7,Sunset,Jul,2023.0,z,Email,True,2003,False,5,False,7.492760
422501,3,Senior,15456,56,65 to 74 years,m2,Marina,Jul,2023.0,z,Email,True,2008,False,5,False,4.043051
434124,3,Senior,17494,948,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2003,False,5,False,6.855409

In [34]:
row_filter = df['Total Checkouts'] > 10000
df.loc[row_filter]

# Ergibt das gleiche, der Unterschied liegt daran, dass nicht alles in einer einzige Zeile geschrieben wird, sondern eine Hilfsvariable genutzt wird

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
7946,3,Senior,12095,5233,75 years and over,m4,Merced,Jul,2023.0,z,Email,True,2003,False,5,False,8.562931
11000,3,Senior,10386,1008,75 years and over,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.916715
16641,3,Senior,12363,1384,65 to 74 years,c2,Chinatown,Jul,2023.0,z,Email,True,2003,False,5,False,7.233455
22331,0,Adult,16483,103,60 to 64 years,m6,Mission,Jul,2023.0,NaN,NaN,False,2003,False,5,False,4.644391
23428,3,Senior,10080,459,65 to 74 years,r3,Richmond,Jul,2023.0,z,Email,True,2003,False,5,False,6.131226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364224,3,Senior,10330,962,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2003,False,5,False,6.870053
375195,0,Adult,45380,143,35 to 44 years,v3,Visitacion Valley,Dec,2020.0,NaN,NaN,False,2003,False,5,False,4.969813
385277,3,Senior,12149,1794,65 to 74 years,s7,Sunset,Jul,2023.0,z,Email,True,2003,False,5,False,7.492760
422501,3,Senior,15456,56,65 to 74 years,m2,Marina,Jul,2023.0,z,Email,True,2008,False,5,False,4.043051
434124,3,Senior,17494,948,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2003,False,5,False,6.855409

In [35]:
row_filter = (df['Patron Type Definition'] == 'Senior') & (df['Notice Preference Definition'] == 'Email')
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
43,3,Senior,1,0,75 years and over,x,Main,Aug,2019.0,z,Email,True,2019,False,5,False,0.000000
51,3,Senior,28,7,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2014,False,5,False,2.079442
59,3,Senior,0,0,75 years and over,a5,Anza,Jul,2023.0,z,Email,True,2023,False,5,False,0.000000
65,3,Senior,0,0,75 years and over,m2,Marina,NaN,NaN,z,Email,True,2021,False,5,False,0.000000
84,3,Senior,0,0,65 to 74 years,x,Main,Apr,2023.0,z,Email,True,2020,False,5,False,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436081,3,Senior,2750,1537,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2003,NaN,5,False,7.338238
436102,3,Senior,0,0,65 to 74 years,x,Main,Jan,2023.0,z,Email,True,2019,NaN,5,False,0.000000
436138,3,Senior,0,0,65 to 74 years,x,Main,Jun,2023.0,z,Email,True,2012,NaN,5,False,0.000000
436190,3,Senior,0,0,65 to 74 years,x,Main,Nov,2022.0,z,Email,True,2022,NaN,5,False,0.000000
436223,3,Senior,0,0,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2019,NaN,5,False,0.000000

Es werden die Zeilen gefiltert, in denen der Benutzertyp "Senior" via E-Mail benachrichtigt werden

In [36]:
filter1 = (df['Total Checkouts'] >= 20) & (df['Total Checkouts'] <= 80)
filter2 =  df['Total Checkouts'].between(20, 80)
all(filter1 == filter2)

True

#### Aufgabe 2.6 Filtern

- Filtere den Datensatz nach Kindern unter 10 Jahren. Wie viele Einträge erhältst Du?
- Gibt es Personen mit mehr als 20000 Ausleihen?
- Wie viele Personen stammen aus dem Stadtteil (Richmond)?
- Wie viele Prozent der Beobachtungen haben eine Membership Duration von Null Monaten?

In [37]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False,5,False,2.772589
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False,5,False,5.937536
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5,False,3.526361
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False,5,False,7.669028
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.943122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN,5,False,1.945910
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN,5,False,0.000000
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN,5,False,0.000000
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN,5,False,0.000000
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN,5,False,4.624973

In [38]:
row_filter = df['Age Range'] == '0 to 9 years'
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
39,1,Juvenile,108,108,0 to 9 years,o7,Ortega,Jul,2023.0,z,Email,True,2021,False,5,False,4.691348
45,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,False,5,False,0.000000
47,1,Juvenile,48,33,0 to 9 years,o7,Ortega,Jul,2021.0,z,Email,True,2018,False,5,False,3.526361
60,1,Juvenile,0,0,0 to 9 years,g6,Golden Gate Valley,Jul,2022.0,z,Email,True,2022,False,5,False,0.000000
86,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,False,5,False,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436151,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,NaN,5,False,0.000000
436164,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,NaN,5,False,0.000000
436176,1,Juvenile,7,21,0 to 9 years,x,Main,Jan,2020.0,z,Email,True,2019,NaN,5,False,3.091042
436253,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,NaN,NaN,False,2023,NaN,5,False,0.000000
436281,1,Juvenile,1,1,0 to 9 years,x,Main,Jul,2023.0,NaN,NaN,False,2023,NaN,5,False,0.693147

Ich erhalte 32 692

In [39]:
row_filter = df['Total Checkouts'] >= 20000
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
51592,3,Senior,22934,583,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2003,False,5,False,6.369901
74783,3,Senior,21890,16,75 years and over,x,Main,Jan,2023.0,z,Email,True,2005,False,5,False,2.833213
95369,3,Senior,20411,2606,65 to 74 years,x,Main,Aug,2019.0,NaN,NaN,False,2003,False,5,False,7.865955
95967,3,Senior,20351,902,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2004,False,5,False,6.805723
192830,0,Adult,23706,384,45 to 54 years,c2,Chinatown,Jul,2023.0,NaN,NaN,False,2003,False,5,False,5.953243
198191,0,Adult,37249,628,55 to 59 years,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.444131
278966,0,Adult,33122,57,25 to 34 years,s7,Sunset,Jul,2023.0,z,Email,True,2010,False,5,False,4.060443
354659,0,Adult,22187,5706,55 to 59 years,c2,Chinatown,Jul,2023.0,z,Email,True,2003,False,5,False,8.649449
375195,0,Adult,45380,143,35 to 44 years,v3,Visitacion Valley,Dec,2020.0,NaN,NaN,False,2003,False,5,False,4.969813

Ja es gibt 9 Benutzer die mehr als 9 Ausleihen haben

In [40]:
row_filter = df['Home Library Definition'] == 'Richmond'
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
42,10,Visitor,9,5,45 to 54 years,r3,Richmond,May,2023.0,z,Email,True,2023,False,5,False,1.791759
53,0,Adult,838,382,55 to 59 years,r3,Richmond,Jun,2023.0,z,Email,True,2003,False,5,False,5.948035
83,0,Adult,1,0,25 to 34 years,r3,Richmond,Jun,2023.0,z,Email,True,2017,False,5,False,0.000000
118,4,Welcome,0,0,35 to 44 years,r3,Richmond,Feb,2020.0,z,Email,True,2020,False,5,False,0.000000
163,10,Visitor,27,14,35 to 44 years,r3,Richmond,Apr,2023.0,z,Email,True,2023,False,5,False,2.708050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435822,16,Digital Access Card,0,0,35 to 44 years,r3,Richmond,Apr,2023.0,NaN,NaN,False,2023,NaN,5,False,0.000000
435823,1,Juvenile,3,7,0 to 9 years,r3,Richmond,Jul,2023.0,NaN,NaN,False,2023,NaN,5,False,2.079442
435824,4,Welcome,0,0,55 to 59 years,r3,Richmond,NaN,NaN,NaN,NaN,False,2019,NaN,5,False,0.000000
435825,1,Juvenile,3,1,0 to 9 years,r3,Richmond,Apr,2023.0,NaN,NaN,False,2023,NaN,5,False,0.693147
435826,3,Senior,0,0,75 years and over,r3,Richmond,NaN,NaN,NaN,NaN,False,2023,NaN,5,False,0.000000

Es kommen 20 656 Menschen/Benutzer aus Richmond.

Die Membership Duration kann ich leider aufgrund von 2.4 nicht ausrechenen

### Exkurs: Fehlende Werte

#### 2.7 Datentypen

Sie unterscheiden sich, da ohne "" es sich entweder um direkte "Befehle" oder Zahlen handelt, bei Werten in "" handelt es sich um Inhalte aus dem Dataframe (meist in Textform)

In [41]:
df[df['Age Range'].isna()] # nur leere Werte

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False,5,False,2.772589
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False,5,False,5.937536
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False,5,False,7.669028
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.943122
8,5,Staff,178,27,NaN,x,Main,Apr,2020.0,z,Email,True,2003,False,5,False,3.332205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436185,5,Staff,3883,2906,NaN,x,Main,Jul,2023.0,z,Email,True,2003,NaN,5,False,7.974877
436196,16,Digital Access Card,270,430,NaN,x,Main,Jun,2023.0,z,Email,True,2017,NaN,5,False,6.066108
436211,5,Staff,2933,3322,NaN,x,Main,Jul,2023.0,z,Email,True,2003,NaN,5,False,8.108623
436225,5,Staff,664,510,NaN,x,Main,Jul,2023.0,z,Email,True,2003,NaN,5,False,6.236370
436270,5,Staff,9,5,NaN,x,Main,Feb,2023.0,NaN,NaN,False,2020,NaN,5,False,1.791759

In [42]:
df[df['Age Range'].notna()] # keine leeren Werte

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5,False,3.526361
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False,5,False,8.312871
6,5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False,5,False,5.389072
7,5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False,5,False,5.802118
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False,5,False,3.737670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN,5,False,1.945910
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN,5,False,0.000000
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN,5,False,0.000000
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN,5,False,0.000000
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN,5,False,4.624973

In [43]:
df.isna().sum() # Anzahl der fehlenden Woerte pro Spalte

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dummy_variable                      0
is_adult                            0
log_renewals                        0
dtype: int64

In [44]:
# drops all rows that contain at least one missing values
# df.dropna()
# drops all missing values in this series
# df['Age Range'].dropna()

In [45]:
df[df['Age Range'].isna()] # nur leere Werte

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False,5,False,2.772589
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False,5,False,5.937536
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False,5,False,7.669028
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.943122
8,5,Staff,178,27,NaN,x,Main,Apr,2020.0,z,Email,True,2003,False,5,False,3.332205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436185,5,Staff,3883,2906,NaN,x,Main,Jul,2023.0,z,Email,True,2003,NaN,5,False,7.974877
436196,16,Digital Access Card,270,430,NaN,x,Main,Jun,2023.0,z,Email,True,2017,NaN,5,False,6.066108
436211,5,Staff,2933,3322,NaN,x,Main,Jul,2023.0,z,Email,True,2003,NaN,5,False,8.108623
436225,5,Staff,664,510,NaN,x,Main,Jul,2023.0,z,Email,True,2003,NaN,5,False,6.236370
436270,5,Staff,9,5,NaN,x,Main,Feb,2023.0,NaN,NaN,False,2020,NaN,5,False,1.791759

In [46]:
df['Age Range'].fillna("keine Angabe")

0              keine Angabe
1              keine Angabe
2            45 to 54 years
3              keine Angabe
4              keine Angabe
                ...
436285       35 to 44 years
436286       10 to 19 years
436287       60 to 64 years
436288       35 to 44 years
436289    75 years and over
Name: Age Range, Length: 436290, dtype: object

In [47]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False,5,False,2.772589
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False,5,False,5.937536
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5,False,3.526361
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False,5,False,7.669028
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.943122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN,5,False,1.945910
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN,5,False,0.000000
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN,5,False,0.000000
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN,5,False,0.000000
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN,5,False,4.624973

#### 2.8 Fehlende Werte

- Welche Spalten enthalten alles fehlende Werte? - 912 Spalten
- Lies den Datensatz ein und erstelle einen DataFrame der keine Beobachtungen mit fehlenden Werten mehr enthält.
- Speichere diesen unter dem Namen Library_Usage_Clean.csv ab.
- Wie viele Beobachtungen wurden dabei entfernt?

In [48]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False,5,False,2.772589
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False,5,False,5.937536
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5,False,3.526361
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False,5,False,7.669028
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.943122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN,5,False,1.945910
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN,5,False,0.000000
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN,5,False,0.000000
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN,5,False,0.000000
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN,5,False,4.624973

In [49]:
df_nonan = df.dropna()

In [50]:
df_nonan

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5,False,3.526361
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False,5,False,8.312871
6,5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False,5,False,5.389072
7,5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False,5,False,5.802118
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False,5,False,3.737670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435078,0,Adult,0,0,25 to 34 years,x,Main,Jul,2023.0,z,Email,True,2022,False,5,False,0.000000
435079,3,Senior,0,0,75 years and over,x,Main,Jul,2023.0,z,Email,True,2010,False,5,False,0.000000
435080,3,Senior,0,0,75 years and over,x,Main,Nov,2019.0,z,Email,True,2008,False,5,False,0.000000
435081,3,Senior,0,0,65 to 74 years,x,Main,Sep,2022.0,z,Email,True,2016,False,5,False,0.000000
435082,0,Adult,0,0,45 to 54 years,e7,Eureka Valley,Jul,2023.0,z,Email,True,2015,False,5,False,0.000000

In [52]:
df_nonan.to_csv("../data/Library_Usage_Clean.csv")

In [54]:
436290 - 357838

78452

Dabei wurden 78 452 Beobachtungen entfernt

### Nützliche Funktionen in Pandas

In [57]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False,5,False,2.772589
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False,5,False,5.937536
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5,False,3.526361
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False,5,False,7.669028
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.943122

In [58]:
df.tail()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN,5,False,1.945910
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN,5,False,0.000000
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN,5,False,0.000000
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN,5,False,0.000000
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN,5,False,4.624973

In [59]:
df.describe(include='all')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
count,436290.000000,436290,436290.000000,436290.000000,435378,436288,436260,396777,396777.000000,393301,393301,436290,436290.000000,435083,436290.0,436290,436290.000000
unique,NaN,17,NaN,NaN,10,75,29,12,NaN,1,1,2,NaN,1,NaN,1,NaN
top,NaN,Adult,NaN,NaN,25 to 34 years,x,Main,Jul,NaN,z,Email,True,NaN,False,NaN,False,NaN
freq,NaN,274682,NaN,NaN,92669,141878,142000,149494,NaN,393301,393301,393301,NaN,435083,NaN,436290,NaN
mean,1.081295,NaN,160.294843,78.317546,NaN,NaN,NaN,NaN,2022.170698,NaN,NaN,NaN,2015.598327,NaN,5.0,NaN,1.959216
std,3.383103,NaN,537.923680,304.506449,NaN,NaN,NaN,NaN,1.358145,NaN,NaN,NaN,6.148953,NaN,0.0,NaN,2.116768
min,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,2004.000000,NaN,NaN,NaN,2003.000000,NaN,5.0,NaN,0.000000
25%,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,2022.000000,NaN,NaN,NaN,2012.000000,NaN,5.0,NaN,0.000000
50%,0.000000,NaN,7.000000,3.000000,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,2017.000000,NaN,5.0,NaN,1.386294
75%,1.000000,NaN,78.000000,35.000000,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,2021.000000,NaN,5.0,NaN,3.583519
max,104.000000,NaN,45380.000000,11921.000000,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,2023.000000,NaN,5.0,NaN,9.386141

In [62]:
print(df.min())
print(df['Total Renewals'].min())

TypeError: '<=' not supported between instances of 'float' and 'str'

In [64]:
df['Total Renewals'].sum()

34169162

In [65]:
df['Total Renewals'].between(100, 200).sum()

24595

In [66]:
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County',
       'dummy_variable', 'is_adult', 'log_renewals'],
      dtype='object')

In [67]:
df.dtypes

Patron Type Code                  int64
Patron Type Definition           object
Total Checkouts                   int64
Total Renewals                    int64
Age Range                        object
Home Library Code                object
Home Library Definition          object
Circulation Active Month         object
Circulation Active Year         float64
Notice Preference Code           object
Notice Preference Definition     object
Provided Email Address             bool
Year Patron Registered            int64
Within San Francisco County      object
dummy_variable                    int64
is_adult                           bool
log_renewals                    float64
dtype: object

In [68]:
df.shape

(436290, 17)

#### 2.9 Pandas Funktionen

In [55]:
df_nonan.head(100)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5,False,3.526361
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False,5,False,8.312871
6,5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False,5,False,5.389072
7,5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False,5,False,5.802118
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False,5,False,3.737670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,4,Welcome,0,0,45 to 54 years,x,Main,Jan,2020.0,z,Email,True,2020,False,5,False,0.000000
142,4,Welcome,0,0,65 to 74 years,w4,Western Addition,Jul,2023.0,z,Email,True,2022,False,5,False,0.000000
144,4,Welcome,1,5,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2023,False,5,False,1.791759
145,4,Welcome,0,0,35 to 44 years,x,Main,Oct,2022.0,z,Email,True,2022,False,5,False,0.000000
147,0,Adult,1,3,25 to 34 years,p9,Presidio,Mar,2023.0,z,Email,True,2020,False,5,False,1.386294

In [56]:
df.head(100)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False,5,False,2.772589
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False,5,False,5.937536
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False,5,False,3.526361
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False,5,False,7.669028
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False,5,False,6.943122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,10,Visitor,11,0,35 to 44 years,a5,Anza,Jun,2023.0,z,Email,True,2023,False,5,False,0.000000
96,1,Juvenile,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False,5,False,0.000000
97,10,Visitor,0,0,75 years and over,p1,Park,Feb,2023.0,NaN,NaN,False,2022,False,5,False,0.000000
98,0,Adult,111,113,45 to 54 years,p1,Park,Jul,2023.0,z,Email,True,2015,False,5,False,4.736198
99,16,Digital Access Card,0,0,25 to 34 years,x,Main,Mar,2023.0,NaN,NaN,False,2023,False,5,False,0.000000

Man kann sich die ersten 100 Zeilen anzeigen lassen, wenn man in die Klammer den gewünschten Wert eintragen lässt

In [69]:
row_filter = (df['Age Range'] == '60 to 64 years') & (df['Circulation Active Year'] == 2016)
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
15813,0,Adult,21,5,60 to 64 years,x,Main,Apr,2016.0,z,Email,True,2003,False,5,False,1.791759
48288,0,Adult,13,0,60 to 64 years,x,Main,Feb,2016.0,z,Email,True,2009,False,5,False,0.000000
56716,0,Adult,81,2,60 to 64 years,c2,Chinatown,Jun,2016.0,NaN,NaN,False,2007,False,5,False,1.098612
130257,0,Adult,70,1,60 to 64 years,n6,North Beach,Feb,2016.0,z,Email,True,2009,False,5,False,0.693147
166476,0,Adult,53,53,60 to 64 years,e7,Eureka Valley,Aug,2016.0,z,Email,True,2004,False,5,False,3.988984
176068,0,Adult,9,8,60 to 64 years,x,Main,Sep,2016.0,z,Email,True,2015,False,5,False,2.197225
235929,0,Adult,2,0,60 to 64 years,r3,Richmond,Feb,2016.0,z,Email,True,2016,False,5,False,0.000000
254518,0,Adult,80,4,60 to 64 years,c2,Chinatown,Oct,2016.0,z,Email,True,2005,False,5,False,1.609438
273630,0,Adult,431,66,60 to 64 years,o7,Ortega,Dec,2016.0,z,Email,True,2003,False,5,False,4.204693
291507,0,Adult,221,39,60 to 64 years,x,Main,Oct,2016.0,NaN,NaN,False,2003,False,5,False,3.688879
297673,0,Adult,2408,2331,60 to 64 years,m2,Marina,Jun,2016.0,z,Email,True,2003,False,5,False,7.754482
302637,0,Adult,12,7,60 to 64 years,b2,Bayview,Dec,2016.0,z,Email,True,2011,False,5,False,2.079442
303489,0,Adult,1,2,60 to 64 years,b2,Bayview,Dec,2016.0,z,Email,True,2006,False,5,False,1.098612
308988,0,Adult,4,0,60 to 64 years,m6,Mission,Jun,2016.0,z,Email,True,2013,False,5,False,0.000000
383887,0,Adult,22,18,60 to 64 years,m8,Mission Bay,May,2016.0,z,Email,True,2012,False,5,False,2.944439
392759,0,Adult,2,0,60 to 64 years,x,Main,Jun,2016.0,z,Email,True,2015,False,5,False,0.000000
416307,0,Adult,11,24,60 to 64 years,x,Main,May,2016.0,z,Email,True,2012,False,5,False,3.218876
422794,0,Adult,15,3,60 to 64 years,p1,Park,Aug,2016.0,z,Email,True,2003,False,5,False,1.386294
428874,0,Adult,1,0,60 to 64 years,x,Main,Apr,2016.0,z,Email,True,2016,False,5,False,0.000000